*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}

body{
    padding-bottom: 2em;
}

.sidebar{
    font-size: 1vw;
    width: 0;
    min-height: 100vh;
    position: fixed;
    background-color: peachpuff;
    z-index: 1;
    overflow-x: hidden;
    transition: width 1s;
}

.sidebar-child{
    width: 19vw;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

button{
    background-color: Transparent;
    background-repeat:no-repeat;
}

button.close-btn{
    width: 10%;
    height: 10%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    align-self: flex-end;
}

button svg, button input[type="image"]{
    width:  2rem;
    height:  2rem;
    cursor: pointer;
}



form fieldset{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 2em 0;
    
    
}

legend{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
}


.form-option, .form-option-checkbox{  
    display: flex;
    gap: .5em;
    font-size: 1.5em;
    font-weight: 200;
}

.form-option{  
    flex-direction: column;
}

.form-add-btn{
    margin-top: 1.5em;
    font-size: 1.5em;
    font-weight: 400;
    
}

.content{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.book-container{
    display: flex;
    flex-direction: column;
    width: 58vw;
    background-color: aquamarine;
    border-radius: 10px;
}

.book-header, .book-btn-list{
    display: flex;
}

.book-header{
    justify-content: space-between;
    padding: 1em;
}

.book-btn-list{
    gap: 1em;
}

.bookshelf{
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    row-gap: .1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: height 1s;
}

.book-card{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: height .1s;
    overflow-y: hidden;
}

.main-details{
    display: flex;
    flex-direction: column;
}

.main-details p:first-child{
    font-size: 1.5em;
    font-weight: 600;
    font-style: italic;
}

.card-btn-list{
    display: flex;
    column-gap: 1em;
    align-items: center;
}

input[type="checkbox"]{
    align-self: center;
    width:  1rem;
    height:  1rem;
    cursor: pointer;
}

.card-btn-list input{
    align-self: center;
    width:  1.8rem;
    height:  1.8rem;
    cursor: pointer;
}

